# Sentiment Analysis of Top Google News Articles for keyword bitcoin
---

This notebook outlines my process of analyzing sentiments of each article contained in the article list for a particular date starting from January 7, 2014 up to December 12, 2017 with respect to the keyword **bitcoin**.
> You can view how I scraped these articles in this [notebook](Google News Scraper.ipynb).

For the analysis and computation of sentiment scores I decided to use Google's [Cloud Natural Language](https://cloud.google.com/natural-language/?utm_source=google&utm_medium=cpc&utm_campaign=na-US-all-en-dr-bkws-all-all-trial-p-dr-1002250&utm_content=text-ad-none-any-DEV_c-CRE_185611873602-ADGP_SKWS+%7C+Multi+%7E+null_Sentiment+Analysis-KWID_43700019167264275-kwd-2176092866&utm_term=KW_sentiment%20analysis-ST_sentiment+analysis&gclid=Cj0KCQiAgs7RBRDoARIsANOo-HhpmqiO5CsfaH9PMwL2dDVs8rrNyeiBE7QSac4Gmzzrgt9YpJlnSAIaAstzEALw_wcB&dclid=CMeTv6zbjdgCFdcKNwodDcQCAA).
> **Note**: This notebook was run locally after configuring the local system according the protocols defined [here](https://cloud.google.com/natural-language/docs/quickstart).

## Introduction

Sentiment analysis attempts to determine the overall attitude (positive or negative) expressed within the text. Sentiment is represented by numerical score and magnitude values.

### Sentiment Analysis Response Fields

A sample analyzeSentiment response to the [Gettysburg Address](https://en.wikipedia.org/wiki/Gettysburg_Address) is shown below:

![alt text](analyzeSentiment JSON response.png "analyzeSentiment JSON response")

These field values are described below:

* **documentSentiment** contains the overall sentiment of the document, which consists of the following fields:
    * **score** of the sentiment ranges between -1.0 (negative) and 1.0 (positive) and corresponds to the overall emotional leaning of the text.
    * **magnitude** indicates the overall strength of emotion (both positive and negative) within the given text, between **0.0** and **+inf**. Unlike **score**, **magnitude** is not normalized; each expression of emotion within the text (both positive and negative) contributes to the text's **magnitude** (so longer text blocks may have greater magnitudes).
* **language** contains the language of the document, either passed in the initial request, or automatically detected if absent.
* **sentences** contains a list of the sentences extracted from the original document, which contains:
    * **sentiment** contains the sentence level sentiment values attached to each sentence, which contain **score** and **magnitude** values as described above.
    
A response value to the Gettysburg Address of **0.2** score indicates a document which is slightly positive in emotion, while the value of **3.6** indicates a relatively emotional document, given its small size (of about a paragraph). Note that the first sentence of the Gettysburg address contains a very high positive **score** of **0.8**.

### Interpreting sentiment analysis values

The **score** of a document's sentiment indicates the overall emotion of a document. The **magnitude** of a document's sentiment indicates how much emotional content is present within the document, and this value is often proportional to the length of the document.

It is important to note that the Natural Language API indicates differences between positive and negative emotion in a document, but does not identify specific positive and negative emotions. For example, "angry" and "sad" are both considered negative emotions. However, when the Natural Language API analyzes text that is considered "angry", or text that is considered "sad", the response only indicates that the sentiment in the text is negative, not "sad" or "angry".

A document with a neutral score (around **0.0**) may indicate a low-emotion document, or may indicate mixed emotions, with both high positive and negative values which cancel each out. Generally, you can use **magnitude** values to disambiguate these cases, as truly neutral documents will have a low **magnitude** value, while mixed documents will have higher **magnitude** values.

When comparing documents to each other (especially documents of different length), make sure to use the **magnitude** values to calibrate your **scores**, as they can help you gauge the relevant amount of emotional content.

## Read the Data

All article CSVs have been renamed to qualify for alphabetical sorting to enable faster processing of individual months CSV files for years 2015-2017.

### 2014

In [7]:
import pandas as pd
from ast import literal_eval

# pd.set_option('display.max_rows', 500) ##Uncomment if you want to view entire dataframe

# Year 2014 Articles
df_2014 = pd.read_csv('Articles/2014/articles_2014.csv', converters={"Articles": literal_eval})

# Function to remove articles containing '\n\n' and omit empty list items
def clean_article_list(articles_list):
    articles_list[:] = [article.replace('\n\n','') for article in articles_list if article != ""]
    return articles_list

# Applying above function    
df_2014['Articles'] = df_2014['Articles'].apply(clean_article_list)

# Uniformity with respect to historical bitcoin price values date range
df_2014 = df_2014[df_2014['Date']>'01/06/2014']

df_2014.head()

          Date                                           Articles
6   01/07/2014  [Move over Dogecoin: the Herncoin is here. But...
7   01/08/2014  [Pop star Lily Allen has voiced her regret at ...
8   01/09/2014  [The world's first insured bitcoin storage ser...
9   01/10/2014  [Less than 30 minutes after online retailer Ov...
10  01/11/2014  [The price of bitcoin reached $1,000 again tod...

### 2015

In [8]:
import os, glob

path = 'Articles/2015'
all_files = sorted(glob.glob(os.path.join(path, "*.csv")))

# Year 2015 Articles
df_2015 = pd.concat((pd.read_csv(f, converters={"Articles": literal_eval}, encoding='windows-1252', index_col=None, header=0) for f in all_files))

df_2015['Articles'] = df_2015['Articles'].apply(clean_article_list)

df_2015.head()

         Date                                           Articles
0  01/01/2015  [The disappearance of 99% of the bitcoins miss...
1  01/02/2015  [[Editor's note: The original version of this ...
2  01/03/2015  [So, it happened. After some time moving in a ...
3  01/04/2015  [2014 was a bad year for people who own bitcoi...
4  01/05/2015  [UPDATE (5th January 09:43 GMT): Bitstamp has ...

### 2016

In [9]:
import os, glob
path = 'Articles/2016'
all_files = sorted(glob.glob(os.path.join(path, "*.csv")))

# Year 2016 Articles
df_2016_1 = pd.concat((pd.read_csv(f, converters={"Articles": literal_eval}, encoding='windows-1252', index_col=None, header=0) for f in all_files[0:7]))
df_2016_2 = pd.concat((pd.read_csv(f, converters={"Articles": literal_eval}, index_col=None, header=0) for f in all_files[7:]))
df_2016 = pd.concat([df_2016_1,df_2016_2])

df_2016['Articles'] = df_2016['Articles'].apply(clean_article_list)

df_2016.head()

         Date                                           Articles
0  01/01/2016  [Bitcoin Weekly Recap 1-1-2016Happy New Year f...
1  01/02/2016  [The most epochal financial transaction of thi...
2  01/03/2016  [Like most coffee shops, Java Express in Dougl...
3  01/04/2016  [Mike Tyson’s Bitcoin ambitions don’t stop wit...
4  01/05/2016  [Movie star and former heavyweight champion of...

### 2017

In [10]:
import os, glob
path = 'Articles/2017'
all_files = sorted(glob.glob(os.path.join(path, "*.csv")))

# Year 2017 Articles
df_2017_1 = pd.concat((pd.read_csv(f, converters={"Articles": literal_eval}, index_col=None, header=0) for f in all_files[0:2]))
df_2017_2 = pd.concat((pd.read_csv(f, converters={"Articles": literal_eval}, encoding='windows-1252', index_col=None, header=0) for f in all_files[2:]))
df_2017 = pd.concat([df_2017_1,df_2017_2])

df_2017['Articles'] = df_2017['Articles'].apply(clean_article_list)

df_2017.head()

         Date                                           Articles
0  01/01/2017  [The price of bitcoin inched upward over the c...
1  01/02/2017  [LONDON (Reuters) - Digital currency bitcoin k...
2  01/03/2017  [Image copyright Getty ImagesDigital currency ...
3  01/04/2017  [Bitcoin hit an all-time high Wednesday, accor...
4  01/05/2017  [Bitcoin is off the lowest levels of its plung...

### Final Dataframe

In [13]:
df_bitcoin_articles = pd.concat([df_2014, df_2015, df_2016, df_2017])
df_bitcoin_articles['Num of Articles'] = df_bitcoin_articles['Articles'].map(lambda x: len(x))
df_bitcoin_articles.head()

,Date,Articles,Num of Articles
6,01/07/2014,[Move over Dogecoin: the Herncoin is here. But...,10
7,01/08/2014,[Pop star Lily Allen has voiced her regret at ...,10
8,01/09/2014,[The world's first insured bitcoin storage ser...,10
9,01/10/2014,[Less than 30 minutes after online retailer Ov...,10
10,01/11/2014,"[The price of bitcoin reached $1,000 again tod...",8

### Writing final dataframe to CSV

In [6]:
# Output has been computed and stored in the Articles/Combined folder
# Uncomment if you want to compute output again

# df_bitcoin_articles.to_csv('bitcoin_news_articles_2014_2017.csv', index=False)

## Compute Sentiment Scores and Classify News Articles

In [ ]:
# Imports the Google Cloud client library
from google.cloud import language
from google.cloud.language import enums
from google.cloud.language import types

import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="My-First-Project-3377f41be4cf.json"

# Instantiates a client
client = language.LanguageServiceClient()

def compute_sentiment_scores(articles_list):
    try:
        articles_list[:] = [[client.analyze_sentiment(document=language.types.Document(content=article,type='PLAIN_TEXT',), encoding_type='UTF32',).document_sentiment.score, client.analyze_sentiment(document=language.types.Document(content=article,type='PLAIN_TEXT',), encoding_type='UTF32',).document_sentiment.magnitude] for article in articles_list]
    except:
        for article in articles_list:
            articles_list.remove(article)
    return articles_list

df_bitcoin_articles['Article[Sentiment,Magnitude]'] = df_bitcoin_articles['Articles'].apply(compute_sentiment_scores)
df_bitcoin_articles.head()